/* - Tailwind CSS - */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
@font-face {
  font-family: "Rubik";
  src: url("../public/fonts/Rubik-VariableFont_wght.ttf");
  font-display: swap;
}

/* ----- BACKGROUND ----- */
/* Background Colour */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  html,
  body {
    height: 100%;
  }

  body {
    @apply bg-bgblack;
  }
}

/* ----- TYPOGRAPHY ----- */
/*      Navigation Bar 
  (leveraging normal CSS here) */
a:not(.header-link, .table-contents) {
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(
      to right,
      rgba(207, 0, 0, 1) 0%,
      rgba(157, 57, 34, 1) 31%,
      rgba(1, 96, 160, 1) 100%
    );
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover,
a:focus {
  background-size: 0 0.1em, 100% 0.1em;
}

/*          Header 
  (Once again using normal CSS) */
h1 {
  font-weight: 800;
  background: linear-gradient(
    90deg,
    rgba(207, 0, 0, 1) 0%,
    rgba(157, 57, 34, 1) 31%,
    rgba(1, 96, 160, 1) 100%
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/* ----- NAVIGATION BAR ----- */
@layer components {
  /* Dropdown Menu */
  .dropdown {
    @apply relative inline-block;
  }

  .dropdown-menu {
    @apply absolute z-10 hidden;
  }

  /* Mobile Navigation Menu */
  .navBar {
    @apply relative;
  }

  .menuNav {
    @apply fixed top-0 left-0 bottom-0 z-20 h-screen w-0 max-w-[290px] list-none overflow-hidden overflow-y-hidden bg-black transition-[width] duration-75 ease-in-out;
  }

  .menuNav.showMenu {
    @apply w-full;
  }

  .menuNav a {
    @apply px-3 py-10 font-bold;
  }
}

@media (hover: hover) {
  @layer components {
    .dropdown:hover .dropdown-menu {
      @apply block;
    }

    .dropdown:hover .arrow {
      @apply rotate-180;
    }
  }
}
