/* - Tailwind CSS - */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
@font-face {
  font-family: "Rubik";
  src: url("../public/fonts/Rubik-VariableFont_wght.ttf");
}

/* ----- BACKGROUND ----- */
/* Background Colour */
@layer base {
  body {
    @apply bg-bgblack;
  }
}

/* ----- TYPOGRAPHY ----- */
/* Navigation Bar */
a {
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(
      to right,
      rgba(207, 0, 0, 1) 0%,
      rgba(157, 57, 34, 1) 31%,
      rgba(1, 96, 160, 1) 100%
    );
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover,
a:focus {
  background-size: 0 0.1em, 100% 0.1em;
}

/* Header */
h1 {
  font-weight: 800;
  background: linear-gradient(
    90deg,
    rgba(207, 0, 0, 1) 0%,
    rgba(157, 57, 34, 1) 31%,
    rgba(1, 96, 160, 1) 100%
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/* ----- NAVIGATION BAR ----- */

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover .arrow {
  transform: rotate(180deg);
}

/* Mobile Navigation Menu */
.navBar {
  position: relative;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: black;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 10;
  transition: width 0.5s ease-in-out;
}

.menuNav.showMenu {
  width: 100%;
}

.menuNav a {
  padding: 10px 40px;
  font-weight: bold;
}
